<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression">
  <test thread-count="5" name="sprint1">
    <classes>
      <class name="com.Automation_CTRS.CTRS.Ctrs_add_County"/>
      <class name="com.Automation_CTRS.CTRS.newBooking"/>
      <class name="com.Automation_CTRS.CTRS.randomSelectfromDropdown"/>
    </classes>
  </test> <!-- sprint1 -->
</suite> <!-- Regression -->
